@import '../admin.component.scss';

.shift-block {
    ion-icon {
        font-size: 18px;
      }
    .text-block {
        width: 100%;
    }
    ion-list {
        ion-item {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            height: 63px;
            display: flex;
            margin: 15px 5px;
            border-radius: 8px !important;
            p {
                @include normal-text();
            }
            p.label {
                background: #E0E4EB;
                 @include body-text();
                 padding: 5px;
                 border-radius: 12px;
                 text-align: center; 
            }
            p.time {
                color: #6B7280;
                @include body-text();
            }

           .w-100 {
               width: 100%;
           }
        }
    }

}
.shift-popup {
    --width: 350px;
    --height: 400px;
    ion-header {
        box-shadow: none;
    }
    .form-group {
        margin-bottom: 12px;
        position: relative;
        label {
            display: block;
            margin-bottom: 8px;
        }
        input {
            border: 1px solid #D1D5DB;
            height: 44px;
            border-radius: 8px;
            padding-left: 12px;
            width: 100%;
            &:focus-visible  {
             border:1px solid $primary-color !important;
             outline: none;
            }
        }
        small {
            display: block;
            background: var(--ion-color-danger);
            padding: 5px 16px;
            position: absolute;
            right: 26px;
            top: 74px;
            color: #fff;
            border-radius: 8px;
            &::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent var(--ion-color-danger) transparent;
            }
        }
        }
        .primary-btn {
            width: 100%;
        }
    }

