
<div class="row-left content-detail-block">
<!-- Personal Details -->
<div class="ion-card ion-padding">
    <p class="header-text row-space-between">Personal Summary<img (click)="isEditSummary()" src="../../assets/Icons/pencil.svg" width="18"></p>
    
 
  <ion-grid>
    <ion-row>
      <ion-col>
          <div class="editor-container" *ngIf="viewEditor">
              <quill-editor
                [modules]="modules"
                placeholder="Write something awesome...">
              </quill-editor>
            </div>
            <p>Experienced product designer with 8+ years in SaaS and enterprise software. 
              Passionate about creating intuitive user experiences and leading design systems initiatives. 
              Currently working on reimagining HR technology for modern workplaces.</p>          
     
      </ion-col>
    </ion-row>
  </ion-grid> 
      </div>

    <div class="ion-card">     
        <p class="header-text row-space-between">Organizational Details<img (click)="isEditOrg()" src="../../assets/Icons/pencil.svg" width="18"></p>
        
        <div class="report-block">
            <form class="org-form row-left">
            <div class="mr-15"> 
              <p>Business Unit</p>
              <h6 *ngIf="!IsOrg">{{currentEmployee.business_unit}}</h6>
              <ion-input [value]="currentEmployee.business_unit" *ngIf="IsOrg"></ion-input>
            </div>
            <div>
              <p>Department</p>
              <h6 *ngIf="!IsOrg">{{currentEmployee.department}}</h6>
              <ion-input [value]="currentEmployee.department" *ngIf="IsOrg"></ion-input>
            </div>
             </form>
            <div>
              <p class="mb-8">Reporting Manager</p>
              <h6 class="row-left" *ngIf="!IsOrg"> <img [attr.alt]="currentEmployee.department" src="../../assets/user.svg"
                  width="18" />{{currentEmployee.reporting_to}}</h6>
                  <ion-input [value]="currentEmployee.reporting_to" *ngIf="IsOrg"></ion-input>   
            </div>
    </div> 
  </div>
  </div>
  
<div class="row-left content-detail-block">
  <div class="ion-card">
          <p class="header-text">Primary Details</p>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <p>Employee ID</p>
                  <h6>{{currentEmployee.employee_number}}</h6>                 
                </div>
        
              </ion-col>
              <ion-col>
                <div>
                  <p>Date of Birth</p>
                  <h6></h6>
                </div>
              </ion-col>
               <ion-col>
                <div>
                  <p>Gender</p>
                  <h6>{{currentEmployee.gender}}</h6>
                </div>
              </ion-col>
            </ion-row>
              <ion-row>
              <ion-col>
                <div>
                  <p>Nationality</p>
                  <h6>{{currentEmployee.location_country}}</h6>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <p>Marital Status</p>
                  <h6>{{currentEmployee.marital_status}}</h6>
                </div>
              </ion-col>
              <ion-col>
                  <div>
                    <p>Blood Group</p>
                    <h6>{{currentEmployee.blood_group}}</h6>
                  </div>
                </ion-col>
            </ion-row>
          </ion-grid>
  </div>
      <app-reporting-team></app-reporting-team>
</div>
<!-- Address Details -->
