<!-- <ion-toolbar color="light" class="top-nav">
  <ion-buttons slot="start" class="nav-links">
    <ion-button fill="clear">Dashboard</ion-button>
    <ion-button fill="clear">Employees</ion-button>
    <ion-button fill="clear">Org Structure</ion-button>
    <ion-button fill="clear" class="active">Onboarding</ion-button>
    <ion-button fill="clear">Exits</ion-button>
    <ion-button fill="clear">Expenses & Travel</ion-button>
    <ion-button fill="clear">Documents</ion-button>
    <ion-button fill="clear">Engage</ion-button>
    <ion-button fill="clear">Assets</ion-button>
    <ion-button fill="clear">Helpdesk</ion-button>
    <ion-button fill="clear">Settings</ion-button>
  </ion-buttons>
</ion-toolbar> -->








<ion-content class="container" [fullscreen]="true">
<ion-row class="row-left">
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/pre onboarding cards/a-business-dashboard-interface-__1_-removebg-preview.png" class="dashboard-img"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>SetUp</h2>      
              <ion-button class="primary-btn" (click)="Setup()">View more</ion-button>
          </ion-card-content>
        </ion-card>
  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
            <ion-img class="pb-8" src="../../../assets/pre onboarding cards/office-employees-working-togeth__80695-removebg-preview.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>PreOnboarding</h2>      
              <ion-button class="primary-btn" (click)="Preonboard()">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
            <ion-img class="pb-8" src="../../../assets/pre onboarding cards/organization-hierarchy-or-team-__1_-removebg-preview.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>New Joiners</h2>      
              <ion-button class="primary-btn" (click)="newJoiner()">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
            <ion-img src="../../../assets/pre onboarding cards/hr-onboarding-new-employee-welc__80696-removebg-preview.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Past Offers</h2>      
              <ion-button class="primary-btn" (click)="PastOffers()">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
            <ion-img class="pb-8" src="../../../assets/pre onboarding cards/employee-exit-or-resignation-pr__1_-removebg-preview.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Onboarding Tasks</h2>      
              <ion-button class="primary-btn"  (click)="Onboardingtasks()">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
            <ion-img class="pb-8" src="../../../assets/pre onboarding cards/employee-managing-expenses-and-__1_-removebg-preview.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Task Templates</h2>      
              <ion-button class="primary-btn" (click)="Tasktemplate()">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
            <ion-img class="pb-8" src="../../../assets/pre onboarding cards/digital-document-management-fol__1_-removebg-preview.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Background Verification</h2>      
              <ion-button class="primary-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
            <ion-img class="pb-8" src="../../../assets/pre onboarding cards/employee-engagement-and-teamwor__1_-removebg-preview.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Archieved</h2>      
              <ion-button class="primary-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
            <ion-img  class="pb-8" src="../../../assets/pre onboarding cards/office-assets-and-inventory-man__80698-removebg-preview.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Seetings</h2>      
              <ion-button class="primary-btn" (click)="Settings()">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  

</ion-row>
    

</ion-content>
