@import '../../../../theme/variables.scss';
// attendance-log
.filters {
    display: flex;
   .filter-block {
     margin-right: 10px;
   .btn-secondry { 
     padding:12px 24px;
     background: #fff;
     border: 0.5px solid #DEDEDE;
     color: #3498db;
     box-shadow: none;
     font-weight: 600;
     margin: 0;    
     @include normal-text-unbold();
     &:first-child {
       border-bottom-left-radius: 8px;
       border-top-left-radius: 8px;
     }
     &:last-child {
       border-bottom-right-radius: 8px;
       border-top-right-radius: 8px;
     }
     &.active {
       background: #3498DB;
       color: #fff;
       font-weight: 600;
     } 
   } 
   }
 
   .outline-btns {
     .btn-secondry {
   height: 44px;
   padding: 0 10px;
   background: #fff;
   border: 0.5px solid #DEDEDE;
   color: #3498db;
   box-shadow: none;
   font-weight: 600;
   margin: 0;
   &:first-child {
     border-bottom-left-radius: 8px;
     border-top-left-radius: 8px;
   }
   &:last-child {
     border-bottom-right-radius: 8px;
     border-top-right-radius: 8px;
   }
   ion-icon {
     font-weight: 600;
     font-size: 24px;
   }
   &.active {
     background: #3498DB;
     color: #fff;
     font-weight: 600;
   } 
     }
   }
  }
  //table start
    .attendance-table {
      background-color: #fff;
      padding: 0;
      margin-top: 15px;
      border-radius: 6px;
    
      .table-header {
        @include normal-text-unbold();
        padding: 0 12px;
        height: 52px;
        display: flex;
          align-items: center;
      }
    
      .table-row {
        @include normal-text-unbold();
        padding: 0 12px;
        height: 52px;
        ion-col {
          padding-right: 24px;
          display: flex;
          align-items: center;
          @include normal-text-unbold();
        }
        ion-icon {
          font-size: 18px;
          margin-right: 5px;
        }
        ion-progress-bar {
          height: 10px;
          width: 80%;
          border-radius: 6px;
          --background: #E4E4E4;
          --progress-background: #3498db;
        }
        &.weekoff-row {
          padding: 0 12px;
          background: #F2F1EC;    
          .text-center {
            display: flex;
            justify-content: center;
          }
          label {
            background: #ABABAB;
            color: #fff;
            border-radius: 3px;
            @include body-text();
            padding: 2px 8px;
            margin-left: 8px;
          }
        }
      }
    }
  
  
p.divider {
    border-bottom: 1px solid #9E9E9E;
  }
  .custom-link {
    @include normal-text();
    text-transform: capitalize;
  }
  
  .popover-content {
    padding: 15px;
    p{
      @include body-text();
    }
    .clock-logs {
      // display: flex;
      width: 100%;
      p{
        @include body-text();
        float: left;
      }
      img {
        padding-right: 5px;
      }
    }
    
  }

  /* Hide scrollbar in popover */
  ion-popover {
    ion-content {
      --overflow: auto;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      
      &::-webkit-scrollbar {
        display: none !important; /* Chrome, Safari, Opera */
        width: 0 !important;
      }
    }
    
    .popover-content {
      scrollbar-width: none;
      -ms-overflow-style: none;
      
      &::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
      }
    }
  }
  
