
@import '../../../global.scss';
.jobdetails-block {
    --background: var(--ion-bg-color);
    h1 {
      @include card-header-title();
    }
    ion-grid {
      ion-row {
        ion-col {
          ion-item {
            --background: transparent;
            --inner-border-width: 0;
              ion-input, ion-select {
                height: 44px;
                background: #ffffff;
                --background: #ffffff;
                margin-top: 12px;
                border: 1px solid #ABABAB;
                border-radius: 8px;
                padding: 0 15px;              
              
          }
        }
      }
    }
  }
}
ion-header {
 box-shadow: none;
}