<div class="team-card">
  <div class="team-header">
    Reporting Team <span class="team-count">(21)</span>
  </div>

  <div class="team-grid" *ngIf="team">

    <!-- Member -->
    <div class="member" *ngFor="let member of team">
      <img src="https://i.pravatar.cc/150?img=12" class="avatar" />
      <div class="info">
        <div class="name">{{ member.full_name }}</div>
        <div class="role">{{member.job_title}}</div>
      </div>
      <button class="menu-btn">⋯</button>
    </div>

    <!-- Member -->


    <!-- Member -->




  </div>
</div>