<ion-header [translucent]="true" class="keka-navbar">
  <ion-toolbar class="navbar-toolbar">
    <ion-grid [fixed]="true">
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <!-- Left: Company Name -->
        <ion-col size="10" class="row-left">
          <img src="./../assets/techlogo.png" alt="Tech Tammina" class="logo" />

          <ion-searchbar placeholder="Search employee by name" [(ngModel)]="searchQuery" (ionInput)="onSearch()"
            showCancelButton="never">
          </ion-searchbar>
          <ion-button *ngIf="searchResults.length > 0" (click)="openEmployeeListModal()">
            {{ results.join(", ") }}
          </ion-button>
          <!-- <ion-button *ngIf="searchResults.length > 0" (click)="openEmployeeListModal()">
              Show {{ results.FirstName }} Employee(s)
            </ion-button> -->
          <!-- <ion-popover   [id]="(searchResults.length > 0) ? 'popover-button':'' " [dismissOnSelect]="true">
                <ng-template>
                  <ion-content>
                    <ion-list>
                        <ion-button  (click)="openEmployeeListModal()">
                            {{ results.join(', ') }}
                          </ion-button>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover> -->

          <div style="margin-left: auto" class="candidate-name">
            {{ fullName || 'Loading...' }}
          </div>
        </ion-col>

        <!-- Right: Notifications + Candidate Info -->
        <ion-col size="2" class="ion-text-end">
          <div class="row-right">
            <ion-icon name="notifications-outline" class="nav-icon"></ion-icon>
            <ion-button id="popover-dropdown" fill="clear">
              <img class="pl-5" [src]="getProfileImageUrl()" width="46" alt="Profile" />
            </ion-button>
            <ion-popover class="profile-dropdown" trigger="popover-dropdown" [dismissOnSelect]="true">
              <ng-template>
                <ion-content>
                  <ion-list>
                    <ion-item (click)="viewProfile()" lines="none" detail="false">
                      <ion-icon name="person-outline"></ion-icon> View Profile
                    </ion-item>
                    <ion-item lines="none" detail="false">
                      <ion-icon name="key-outline"></ion-icon> Change Password
                    </ion-item>
                    <ion-item (click)="logout()" lines="none" detail="false">
                      <ion-icon name="log-out-outline"></ion-icon> Logout
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>

            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>