@import '../../../../global.scss';
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
 

.shift-popup {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 12px;
  h2 {
     margin: 0;
     margin-bottom: 15px;
     @include card-header-title();
  }
  .form-group {
      margin-bottom: 12px;
      position: relative;
      width: 100%;
      padding-right: 24px;
      label {
          display: block;
          margin-bottom: 8px;
      }
      input {
          border: 1px solid #D1D5DB;
          height: 44px;
          border-radius: 8px;
          padding-left: 12px;
          width: 100%;
          &:focus-visible  {
           border:1px solid $primary-color !important;
           outline: none;
          }
      }
      small {
          display: block;
          background: var(--ion-color-danger);
          padding: 5px 16px;
          position: absolute;
          right: 26px;
          top: 74px;
          color: #fff;
          border-radius: 8px;
          &::after {
              content: "";
              position: absolute;
              bottom: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: transparent transparent var(--ion-color-danger) transparent;
          }
      }
      }  
    .w-50 {
      width: 50%;
    }
      }
  