<div class="dashboard">
  <div class="card">
    <div class="icon">
      <i class="fa fa-users"></i>
    </div>
    <h3>Payroll Compoents</h3>
    <p>Generate, upload, and manage payroll data.</p>
    <button (click)="payrollCompoents()">Create Compoents →</button>
  </div>

  <div class="card">
    <div class="icon">
      <i class="fa fa-building"></i>
    </div>
    <h3>Payroll templates</h3>
    <p>generate Salary Structure compoents</p>
    <button (click)="payrollTemplates()">Create templates →</button>
  </div>

  <div class="card">
    <div class="icon">
      <i class="fa fa-user-shield"></i>
    </div>
    <h3>Payroll Structure</h3>
    <p>Generate, upload, and manage payroll data.</p>
    <button>Create Salary Structure →</button>
  </div>

  <div class="card">
    <div class="icon">
      <i class="fa fa-calendar"></i>
    </div>
    <h3>Payroll reports</h3>
    <p>Generate Payroll Reports</p>
    <button>GENERATE REPORTS →</button>
  </div>

</div>