<ion-header [translucent]="true">
  <!-- <app-header></app-header> -->
</ion-header>
<ion-content class="container" [fullscreen]="true">
<ion-row class="row-left">
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Dashboard</h2>      
              <ion-button class="primary-outline-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>
  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Employees</h2>      
              <ion-button class="primary-outline-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Org Structure</h2>      
              <ion-button class="primary-outline-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Onboarding</h2>      
              <ion-button class="primary-outline-btn" routerLink="/pre_onboarding" (click)="preonboard()">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Exits</h2>      
              <ion-button class="primary-outline-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Expenses & Travel</h2>      
              <ion-button class="primary-outline-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Documents</h2>      
              <ion-button class="primary-outline-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Engage</h2>      
              <ion-button class="primary-outline-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Assets</h2>      
              <ion-button class="primary-outline-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Helpdesk</h2>      
              <ion-button class="primary-outline-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
  <ion-col>
      <ion-card class="card">
          <ion-card-header class="imgBx">
              <ion-img src="../../../assets/dashboard.png"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="contentBx">
              <h2>Settings</h2>      
              <ion-button class="primary-outline-btn">View more</ion-button>
          </ion-card-content>
        </ion-card>

  </ion-col>
</ion-row>
    

</ion-content>