@import '../../../global.scss';
.offer-container {
  --background: var(--ion-bg-color);
  h1 {
    @include card-header-title();
    padding-top: 0px;
    margin: 0;
  }
  ion-card {
    padding: 16px 8px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
  }
}