@import '../../../global.scss';
.offer-container {
  --background: var(--ion-bg-color);
  h1 {
    @include card-header-title();
    padding-top: 0px;
    margin: 0;
  }
  h3 {
    @include text-style-bold();
    padding-top: 0px;
    margin: 0;
  }
  ion-card {
    padding: 16px 8px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
  }
  ion-select {
    border: 1px solid #D1D5DB;
    height: 45px;
    border-radius: 4px;
    padding: 0px 12px !important;
    margin: 11px 0px;
    background: #EFEFEF;
  }
}