@import '../../global.scss';
//Offerletter block

.offerletter-block {   
    overflow: auto;
    max-height: calc(100vh - 200px);
    margin-top: 100px;
    margin-bottom: 20px;
    @include scroll-style();
     .logo-header {
      border-bottom: 1px solid #00000066;
      padding: 16px;
      position: fixed;
      width: 100%;
      background: #fff;
      z-index: 2;
      top: 0;
    }
    .offerletter-continer {    
      width: 60%;
      margin: auto;
     .header-block {
       background: url('../../assets/email-header-bg.svg');
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       padding: 24px;
       color: #fff;
       margin-top: 30px;
       border-radius: 8px;
          .text-bold {
           @include card-header();
          }
          .text-dec{
            @include text-style-normal();
          }
     }
     .offer-letter {      
      border: 1px solid #00000066;    
      margin-top: 15px;
      border-radius: 8px;
       .offer-header {
        border-bottom: 1px solid #00000066;
        padding: 16px;
       }
      .offer-block {
        margin: 16px;     
        ion-card {
          width: 80%;
          margin: auto;
          box-shadow: 2px 2px 30px 0px #8C8C8C40;
          box-shadow: -2px -2px 30px 0px #8C8C8C40;  
          padding: 24px;
          ion-img {
            width: 150px;
          }
          p, ol {
            line-height: 23px;
            letter-spacing: 0.25px;
          }
        }
      }
     }
     .action-block {
         margin-bottom: 8px;
       ion-button {
         margin-right: 12px;
         margin-top: 12px;
       }
     }
     .footer-block {
      border: 1px solid #2D2D2D66;
      .mail-text {
        padding: 16px 12px;
        border-bottom: 1px solid #2D2D2D66;
      }
      .row-space-between {
        padding: 16px 12px;
        ion-icon {
            margin-right: 5px;
        }
      }
     }
    }
  }