@import '../../../global.scss';
.btn-clockout, .btn-clockin{      
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    // margin: 10px 0;
  }
  .btn-clockout {
    --background: #F95F5F;
  }
  .btn-clockin {
    --background: #1870B9;
  }
  .me-clock-out{
    text-transform: capitalize;
  }
  .clear {
    min-height: auto;
   @include body-text();
   font-size: 13px;
    --padding-top: 4px;
    --padding-bottom: 4px;
    --padding-start: 0;
    --padding-end: 0;
    display: block;
    text-align: left;
    text-transform: capitalize;
    justify-self: flex-start;
    &:hover {
      --background: transparent; 
    }
    img {
      margin-right: 8px;
    }
  }
  
  .ms-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }