<ion-content class="page-containerOn project-wrapper ion-padding">

    <!-- ======= TOP BAR ======= -->
    <div class="top-bar">
      <div>
        <h1>Projects</h1>
        <p>Track and manage organizational projects</p>
      </div>
  
      <ion-button
        shape="round"
        color="primary"
        (click)="openCreateForm()"
      >
        <ion-icon name="add" slot="start"></ion-icon>
        New Project
      </ion-button>
    </div>
  
    <!-- ======= CREATE PROJECT MODAL ======= -->
    <ion-modal
      [isOpen]="showCreateForm"
      cssClass="create-project-modal side-custom-popup"
      backdropDismiss="false"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Create Project</ion-title>
  
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="cancelCreate()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
  
        <ion-content class="ion-padding form-block ">
          <form [formGroup]="projectForm" (ngSubmit)="submit()">
  
            <div lines="none" class="form-grid">
              <div>
                <label>Project Code</label>
                <ion-input formControlName="project_code"></ion-input>
              </div>
  
              <div>
                <ion-label>Project Name</ion-label>
                <ion-input formControlName="project_name"></ion-input>
              </div>
  
              <div>
                <ion-label>Client Name</ion-label>
                <ion-input formControlName="client_name"></ion-input>
              </div>
              <div class="row-left pr-15">
                  <div>
                      <ion-label>Start Date</ion-label>
                      <ion-input type="date" formControlName="start_date"></ion-input>
                    </div>
        
                    <div>
                      <ion-label>End Date</ion-label>
                      <ion-input type="date" formControlName="end_date"></ion-input>
                    </div>
              </div>
             
  
              <div>
                <ion-label>Status</ion-label>
                <ion-select formControlName="status" toggleIcon="chevron-down"
                expandedIcon="chevron-up">
                  <ion-select-option value="Active">Active</ion-select-option>
                  <ion-select-option value="OnHold">On Hold</ion-select-option>
                  <ion-select-option value="Completed">Completed</ion-select-option>
                </ion-select>
              </div>
  
              <div>
                <ion-label>Project Manager ID</ion-label>
                <ion-input type="number" formControlName="project_manager_id"></ion-input>
              </div>
  
              <div class="full">
                <ion-label>Description</ion-label>
                <ion-textarea rows="3" formControlName="description"></ion-textarea>
              </div>
            </div>
  
            <div class="row-right">
              <ion-button class="primary-outline-btn" (click)="cancelCreate()">
                Cancel
              </ion-button>
  
              <ion-button class="primary-btn" [disabled]="submitting">
                {{ submitting ? 'Creating…' : 'Create Project' }}
              </ion-button>
            </div>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
  
    <!-- ======= PROJECT LIST ======= -->
    <ion-card class="list-card">
      <ion-card-header>
        <ion-card-title>Project List</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
  
        <ion-spinner *ngIf="loadingProjects"></ion-spinner>
  
        <ion-grid class="table-block" *ngIf="!loadingProjects && projects.length">
          <ion-row class="table-header">
            <ion-col size="3"><p>Project</p></ion-col>
            <ion-col size="3"><p>Client</p></ion-col>
            <ion-col size="3"><p>Status</p></ion-col>
            <ion-col size="3"><p>Duration</p></ion-col>
          </ion-row>
  
          <ion-row class="table-row-list" *ngFor="let project of projects">
            <ion-col size="3"><p> {{ project.project_name }}
                (<small>({{ project.project_code }})</small>)</p>
             
            </ion-col>
  
            <ion-col size="3"><p>{{ project.client_name }}</p></ion-col>
  
            <ion-col size="3"  class="status">
              <p [ngClass]="project.status.toLowerCase()">
                {{ project.status }}</p>              
            </ion-col>
  
            <ion-col size="3">
              <p>{{ project.start_date | date }} - {{ project.end_date | date }}</p>              
            </ion-col>
          </ion-row>
        </ion-grid>
  
        <p *ngIf="!loadingProjects && !projects.length" class="empty">
          No projects created yet.
        </p>
  
      </ion-card-content>
    </ion-card>
  
  </ion-content>
  