<ion-app>
  <app-header *ngIf="!isLoginPage && !iscandiateofferPage"></app-header>

  <ion-split-pane contentId="main-content" [ngClass]="!isLoginPage && !iscandiateofferPage ? 'main-content-block' : ''">
    <ng-container *ngIf="!iscandiateofferPage">
      <ion-menu *ngIf="showMenu" contentId="main-content" type="overlay">
        <ion-content class="menu-content sidenav-content">
          <ion-list class="side-menu-list">
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="['/Home']" lines="none" detail="false"
                routerLinkActive="selected">
                <div class="text-center">
                  <img src="assets/Icons/home-05.svg" width="24" height="24">
                  <ion-label>Home</ion-label>
                </div>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="['/Me']" lines="none" detail="false"
                routerLinkActive="selected">
                <div class="text-center">
                  <img src="assets/Icons/user-01.svg" width="24" height="24">
                  <ion-label>Me</ion-label>
                </div>
              </ion-item>
            </ion-menu-toggle>

            <!-- <div class="dropdown-wrapper"> -->
            <!-- Org Parent Item -->
            <ion-menu-toggle auto-hide="false" id="menu-button">
              <ion-item lines="none" detail="false">
                <div class="text-center">
                  <img src="assets/Icons/building-07.svg" width="24" height="24">
                  <ion-label>Org</ion-label>
                </div>
              </ion-item>
            </ion-menu-toggle>

            <ion-popover trigger="menu-button" [dismissOnSelect]="true" triggerAction="hover" class="menu-dropdown">
              <ng-template>
                <ion-content>
                  <ion-menu-toggle auto-hide="false">
                    <!-- *ngIf="(currentUser | async)?.jobDetailsForm?.Department === 'QA'" -->
                    <ion-item routerLink="/pre-onboarding-cards" (click)="preonboard()" lines="none" detail="false">
                      <ion-label>Pre Onboarding</ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                  <!-- <ion-menu-toggle auto-hide="false">
                    <ion-item routerLink="/pre_onboarding" (click)="preonboard()"
                      *ngIf="(currentUser | async)?.jobDetailsForm?.Department === 'QA'" lines="none" detail="false">
                      <ion-label>Pre Onboarding</ion-label>
                    </ion-item>
                  </ion-menu-toggle> -->
                  <ion-menu-toggle auto-hide="false">
                    <ion-item routerLink="/post-onboarding" lines="none" detail="false">
                      <ion-label>Post Onboarding</ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                  <ion-menu-toggle auto-hide="false">
                    <ion-item lines="none" detail="false">
                      <ion-label>Candidate Status</ion-label>
                    </ion-item>
                  </ion-menu-toggle>

                </ion-content>
              </ng-template>
            </ion-popover>
            <!-- Submenu Dropdown -->
            <!-- <div class="dropdown-menu" *ngIf="(currentUser | async)?.jobDetailsForm?.Department === 'HR'">
              <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/pre_onboarding" (click)="preonboard()" lines="none" detail="false">
                  <ion-label>Pre Onboarding</ion-label>
                </ion-item>
              </ion-menu-toggle>
              <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/post-onboarding" lines="none" detail="false">
                  <ion-label>Post Onboarding</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </div> -->
            <!-- </div> -->


            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="['/MyTeam']" lines="none" detail="false"
                routerLinkActive="selected">
                <div class="text-center">
                  <img src="assets/Icons/Group 104.svg" width="24" height="24">
                  <ion-label>My Team</ion-label>
                </div>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="['/organisation_info']" lines="none" detail="false"
                routerLinkActive="selected">
                <div class="text-center">
                  <img src="assets/Icons/Group 104.svg" width="24" height="24">
                  <ion-label>Org Info</ion-label>
                </div>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" [routerLink]="['/admin']" lines="none" detail="false"
                  routerLinkActive="selected">
                  <div class="text-center">
                    <img src="assets/Icons/Group 104.svg" width="24" height="24">
                    <ion-label>Admin</ion-label>
                  </div>
                </ion-item>
              </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" (click)="logout()" lines="none" detail="false"
                routerLinkActive="selected">
                <div class="text-center">
                  <img src="assets/Icons/logout_duoline 1.svg" width="24" height="24">
                  <ion-label>Log out</ion-label>
                </div>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
    </ng-container>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>