@import '../../../global.scss';
ion-content {
  --background: var(--ion-bg-color);
}

/* TABS */
.manage-main-block {
  background: #ffffff;
  padding: 16px;
  border-radius: 12px;
  h2 {
    @include card-sub-title();
    margin: 0;
    margin-bottom: 15px;
  }

    .custom-tabs {
      border: 1.25px solid #CBD5E0;
      box-shadow: 0px 1px 3px 0px #0000001A;
      border-radius: 8px;
      grid-auto-columns: auto;
      justify-content: flex-start;
      display: flex;
      width: fit-content;
     div {
      width: max-content;
      margin: 5px;
      text-transform: capitalize;
      min-height: 42px;
      padding: 8px 16px;
      &.active {
        background: $secondry-color;
        color: #fff;
        --color-checked: #fff;
        --indicator-height: 0px;
        border: 1.25px solid #EDF2F7;
        border-radius: 6px;
      box-shadow: 0px 1px 3px 0px #0000001A;
      }
    }
  }
  .header-title {
     @include card-header-title();
     padding-left: 12px; 
     margin: 20px 0;
     span {
      background: #CFECFF;
      padding: 2px 8px;
      border-radius: 15px;
      @include normal-text-unbold();
     }
  }
}
.daily-block {
  --width: 60%;
  --max-height: 100%;
  --position: fixed;
  --height: 100vh;
  margin-left: 8px;

  &::part(content){
    padding: 24px;
    bottom: 0px !important;
    top: 0px !important;
  } 

  .date-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edf1ff;
    padding: 10px 14px;
    border-radius: 18px;
    margin-bottom: 16px;
    // .date {
    //   @include normal-text-unbold();
    //   color: $primary-color;
    // }
    .total-hours, .date {
      @include normal-text();
      color: $primary-color;
    }
  }
  .glass-item {
    display: flex;
    ion-input {
      border: 1px solid #ABABAB80;
      border-radius: 8px;
      background: #f4f6ff;
      width: 340px;
      margin-right: 8px;
      padding-left: 8px !important;    
      --highlight-color: #07488d;
    }
  
  }
  .hours-grid {
    margin-top: 12px;
    .hour-row {
      border: 0.5px solid #ABABAB;
      padding: 0 8px;
      border-radius: 12px;
      display: grid;
      grid-template-columns: 160px 1fr 100px;
      gap: 12px;
      align-items: center;
      margin-bottom: 8px;
      .time {
        @include normal-text();
      }
      ion-textarea {
        --background: #d7d8da;
        font-size: 14px;
        --padding-start: 8px !important;
        --padding-top: 8px;
        --highlight-color: #07488d;
      }

    }
  }
}
    


.animate {
  animation: pop 0.4s ease;
}

@keyframes pop {
  from { transform: scale(0.97); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


.calendar-box {
  padding: 10px;
  border-radius: 18px;
  margin-bottom: 15px;
  background: #f4f6ff;
  width: 345px;
  position: absolute;
  z-index: 9;
  right: 32px;
  top: 79px;
}


.break-label {
  color: gray;
  font-style: italic;
}


/* GRAPH */
.monthly-report {
  &::part(content){
    padding: 24px;   
  } 
  .primary-btn {
    margin: 23px !important;
    .ion-icon {
      --padding-right: 8px;
    }
  }   
  .total {
    text-align: center;
    padding: 12px;
    padding-top: 0;
    color: #122E44 ;
    @include normal-text();
  }
}
