@import '../../../global.scss';

.admin-dashboard {
  @extend .page-containerOn;
  ion-card {
    margin-left: 0;
    margin-right: 0;
    ion-card-header {
      ion-card-title {
        @include card-sub-title();
        small {
          background: #1F74BB;
          color: #fff;
          border-radius: 20px;
          padding: 2px 5px;
        }
      }
      ion-searchbar {
        --background: var(--ion-background-color, #fff);
        border-radius: 20px;
        --box-shadow: none;
        border: 1px solid #ABABAB;
        --min-height: 36px;
        height: 42px;
        width: 50%;
      }
    }
  }
  .manage-block {
    display: flex;
    flex-wrap: wrap;
    ion-card {
      background: linear-gradient(105.32deg, #1F74BB -0.07%, #0E3555 62.91%);
      width: 400px;
      margin-right: 20px;   
      border-radius: 12px;
      ion-card-title, p {
        color: #fff;
        margin-top: 15px;
      }   
      ion-card-title {
        @include card-sub-title();
      }
      p {
        @include text-style-normal();
      }
    }
    ion-button {
      width: fit-content;
    }
  }
}
//Upload employees popup UI
.upload-main-block {
  --width: 400px;
    --height: 400px;
    .upload-block {
      p {
        @include body-text();
      }
      .folder-icon {
        font-size: 35px;
        color: var(--ion-color-medium);
        margin-bottom: 15px;
      }
      
      .drag-drop-area {
        border: 2px dashed var(--ion-color-medium);
        padding: 20px 12px;
        text-align: center;
        margin-bottom: 15px;
        &:hover {
          border-color: #007bff;
        }
      }
      
      .upload-icon {
        font-size: 32px;
        color: var(--ion-color-primary);
      }
      
      .select-file-link {
        color: var(--ion-color-primary);
        text-decoration: underline;
        cursor: pointer;
      }
    }
    
    
    /* Hide the actual file input */
    #file-upload-input {
      display: none;
    }
    
    .modal-actions {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      padding-top: 20px;
    }
  }
