@import '../../../global.scss';
.upload-container {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.admin-dashboard {
    --background: var(--ion-bg-color);
    padding: 20px;
    ion-card-title {
      @include card-sub-title();
    }
   .table-block {
     .table-header {
       height: 44px;
       border-bottom: 1px solid $border-color;
       p {
         @include normal-text();
         color: $text-color;
       }
     }
    }







      // Leaves block
     .leave-list-block {
        border: 1px solid #DFDFDF;
          ion-item {
            height: 50px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #DFDFDF; 
            width: 100%;
            p {
              width: 100%;
              font-weight: 600;
              img {
                padding-right: 5px; 
                width: 35px;
              }
              span {
                padding: 4px 8px;
                border-radius: 24px;
                font-size: 13px;
              }
              &:last-child {
                text-align: end;
              }
            }
            &.cl-text {
              span {
                background: #E7D8FF;
              }
              color: #6941C6;
            }
            &.ml-text {
              span {
                background: #FFE9D2;
              }
              color: #A95300;
            }
            &.sl-text {
              span {
                background: #D7F3E5;
              }
              color: #077B4B;
            }
            &.co-text {
              span {
                background: #B4E1FF;
              }
              color: #014570;
            }
            &.ul-text {
              span {
                background: #FFC7C7;
              }
              color: #C80000;
            }
        }
      }

    title {
        display: block;
        @include normal-text();
    }
    ion-label {
        @include normal-text-unbold();
    }
    ion-button {
        text-transform: capitalize;
    }
}
.tooltip-container {
    position: relative;
    display: inline-block;
    .tooltip-text {
        visibility: hidden;
        background-color: #122E44;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 25px;
        right: 0px;
        opacity: 0;
        transition: opacity 0.3s;
        width: 150px;
      }
      
      &:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
      }

  }
  ion-card {
      ion-icon {
        width: 24px;
        margin-right: 15px;
        font-size: 24px;
        cursor: pointer;
        font-weight: 700;
      }
  }
  .upload-file {
    input[type=file] {
      margin: 16px;
      width: 100%;
      margin-left: 0;
    }
  }
  

  .loader-overlay {
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;

  ion-button {
    --padding-start: 10px;
    --padding-end: 10px;
  }

  span {
    @include body-text();
  }
}
.upload-block {
  p {
    @include body-text();
  }
  .folder-icon {
    font-size: 35px;
    color: var(--ion-color-medium);
    margin-bottom: 15px;
  }
  
  .drag-drop-area {
    border: 2px dashed var(--ion-color-medium);
    padding: 20px 12px;
    text-align: center;
    margin-bottom: 15px;
    &:hover {
      border-color: #007bff;
    }
  }
  
  .upload-icon {
    font-size: 32px;
    color: var(--ion-color-primary);
  }
  
  .select-file-link {
    color: var(--ion-color-primary);
    text-decoration: underline;
    cursor: pointer;
  }
}


/* Hide the actual file input */
#file-upload-input {
  display: none;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 20px;
}
.upload-main-block {
  --width: 400px;
    --height: 400px;
}
