<!-- <input type="file" (change)="onFileSelected($event)" />
<button (click)="uploadFile()">Upload Holidays</button> -->
<ion-content [fullscreen]="true" class="admin-dashboard">
  <ion-grid>
    <div>
      <ion-row>
        <!-- add employees -->
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">

          <ion-card>
            <ion-card-header class="row-space-between">
              <ion-card-title>Total Employees</ion-card-title>
              <ion-card-subtitle>
                <div class="tooltip-container">
                  <ion-button id='open-upload-modal' fill="clear"><ion-icon
                      name="add-circle-outline"></ion-icon></ion-button>
                  <span class="tooltip-text mt-8">Add Employees</span>
                </div>
                <ion-modal class="upload-main-block" trigger="open-upload-modal" #modal>
                  <ng-template>
                    <ion-content class="ion-padding">
                      <div class="upload-block" (click)="EmployeeInput.click()">
                        <ion-icon name="folder-open-outline" class="folder-icon"></ion-icon>
                        <p> <strong>Upload a file</strong></p>
                        <p>Attach the file below</p>
                        <div class="drag-drop-area">
                          <ion-icon name="arrow-down-circle-outline" class="upload-icon"></ion-icon>
                          <p>Drag file(s) here to upload.</p>
                          <p>Alternatively, you can select a file by
                            <label for="file-upload-input" class="select-file-link">
                              clicking here
                              <input type="file" #EmployeeInput id="file-upload-input"
                                (change)="EmployeeSelected($event)" accept=".xlsx,.xls" />
                            </label>
                          </p>
                        </div>
                      </div>

                      <div class="modal-actions">
                        <ion-button fill="outline" color="medium"
                          (click)="modal.dismiss(null, 'cancel')">Cancel</ion-button>
                        <ion-button class="primary-btn" (click)="EmployeesUpload()"
                          [disabled]="!EmployeeselectedFile">Upload File</ion-button>
                      </div>
                    </ion-content>
                  </ng-template>
                </ion-modal>







                <!-- <ion-popover trigger="popover-editform" class="upload-file" [dismissOnSelect]="false">
                  <ng-template>
                    <ion-content class="ion-padding">

                      <input type="file" #EmployeeInput (click)="EmployeeInput.click()"
                        (change)="EmployeeSelected($event)" accept=".xlsx,.xls" />

                      <div class="row-center">
                        <button (click)="EmployeesUpload()" [disabled]="!EmployeeselectedFile">Upload</button>
                      </div>
                    </ion-content>
                  </ng-template>
                </ion-popover> -->



              </ion-card-subtitle>

            </ion-card-header>
            <ion-card-content>
              <ion-list *ngFor="let candidate of pagedCandidates">
                <ion-item>
                  <ion-thumbnail slot="start">
                    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                  </ion-thumbnail>
                  <ion-label>{{candidate.id}}</ion-label>
                  <ion-label>{{candidate.personalDetails.FirstName}}</ion-label>
                  <ion-button fill="clear"><ion-icon name="create-outline"></ion-icon></ion-button>
                </ion-item>
              </ion-list>

              <div class="row-center ion-padding">
                <ion-button (click)="prevPage()" [disabled]="currentPage === 1" fill="clear">
                  <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-button>

                <ion-text>
                  Page {{currentPage}} of {{totalPages}}
                </ion-text>

                <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages || totalPages === 0"
                  fill="clear">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>

                <ion-item lines="none" style="max-width: 100px; margin-left: 10px;">
                  <ion-select [(ngModel)]="pageSize" placeholder="Size"
                    (ionChange)="calculatePagination(); updatePagedCandidates(); currentPage = 1">
                    <ion-select-option [value]="5">5</ion-select-option>
                    <ion-select-option [value]="10">10</ion-select-option>
                    <ion-select-option [value]="20">20</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>

            </ion-card-content>
          </ion-card>

        </ion-col>
        <!-- Hollidays list -->
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">

          <ion-card>
            <ion-card-header class="row-space-between">
              <ion-card-title>Holidays</ion-card-title>
              <ion-card-subtitle>
                <div class="tooltip-container">
                  <ion-button id="holiday-popup" fill="clear"><ion-icon
                      name="add-circle-outline"></ion-icon></ion-button>
                  <span class="tooltip-text mt-8">Add holidays</span>
                </div>
                <ion-popover trigger="holiday-popup" class="upload-file" [dismissOnSelect]="false">
                  <ng-template>
                    <ion-content class="ion-padding">
                      <input type="file" #fileInput (click)="fileInput.click()" (change)="onFileSelected($event)"
                        accept=".xlsx,.xls" />
                      <div class="row-center">
                        <button (click)="Upload()" [disabled]="!selectedFile">Upload</button>
                      </div>
                    </ion-content>
                  </ng-template>
                </ion-popover>

              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list *ngFor="let holiday of holidays">
                <ion-item>
                  <ion-thumbnail slot="start">
                    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                  </ion-thumbnail>
                  <ion-label>{{holiday.HolidayName}}</ion-label>
                  <ion-label>{{holiday.Date}}</ion-label>
                  <ion-label>{{holiday.Day}}</ion-label>
                  <ion-button fill="popover-editform" id='popover-editform'><ion-icon
                      name="create-outline"></ion-icon></ion-button>

                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

        </ion-col>
        <!-- All dropdowns -->
        <ion-col size="12">

          <ion-card>
            <ion-card-header class="row-space-between">
              <ion-card-title>All dropdowns</ion-card-title>
            </ion-card-header>
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
                <ion-card-content>
                  <title>Department</title>
                  <ion-list>
                    <ion-item>
                      <ion-label>Department Name</ion-label>
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-item>
                  </ion-list>
                  <ion-button id="addDept-popup" fill="clear">Add Department</ion-button>
                  <ion-popover trigger="addDept-popup" class="upload-file" [dismissOnSelect]="false">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <ion-input label="Department" labelPlacement="floating"
                          placeholder="Enter Department"></ion-input>
                        <div class="row-center">
                          <button>Upload</button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                </ion-card-content>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
                <ion-card-content>
                  <title>Job Titles</title>
                  <ion-list>
                    <ion-item>
                      <ion-label>Job-title</ion-label>
                      <ion-label>Job-category</ion-label>
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-item>
                  </ion-list>
                  <ion-button id="addjob-popup" fill="clear">Add Title</ion-button>
                  <ion-popover trigger="addjob-popup" class="upload-file" [dismissOnSelect]="false">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <ion-input label="Job Title" labelPlacement="floating"
                          placeholder="Enter Job Title"></ion-input>
                        <ion-input label="Job Category" labelPlacement="floating"
                          placeholder="Enter Job Category"></ion-input>
                        <div class="row-center">
                          <button>Upload</button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                </ion-card-content>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
                <ion-card-content>
                  <title>Job Locations</title>
                  <ion-list>
                    <ion-item>
                      <ion-label>Location</ion-label>
                      <ion-label>Address</ion-label>
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-item>
                  </ion-list>
                  <ion-button id="addlocation-popup" fill="clear">Add Location</ion-button>
                  <ion-popover trigger="addlocation-popup" class="upload-file" [dismissOnSelect]="false">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <ion-input label="Location" labelPlacement="floating" placeholder="Enter Location"></ion-input>
                        <div class="row-center">
                          <button>Upload</button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                </ion-card-content>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
                <ion-card-content>
                  <title>Work Type</title>
                  <ion-list>
                    <ion-item>
                      <ion-label>Name</ion-label>
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-item>
                  </ion-list>
                  <ion-button id="addtype-popup" fill="clear">Add Work Type</ion-button>
                  <ion-popover trigger="addtype-popup" class="upload-file" [dismissOnSelect]="false">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <ion-input label="Work Type" labelPlacement="floating"
                          placeholder="Enter Work type"></ion-input>
                        <div class="row-center">
                          <button>Upload</button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                </ion-card-content>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
                <ion-card-content>
                  <title>Gender</title>
                  <ion-list>
                    <ion-item>
                      <ion-label>Name</ion-label>
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-item>
                  </ion-list>
                  <ion-button id="addgendere-popup" fill="clear">Add Gender</ion-button>
                  <ion-popover trigger="addgendere-popup" class="upload-file" [dismissOnSelect]="false">
                    <ng-template>
                      <ion-content class="ion-padding">
                        <ion-input label="Gender" labelPlacement="floating" placeholder="Enter Gender"></ion-input>
                        <div class="row-center">
                          <button>Upload</button>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-popover>
                </ion-card-content>
              </ion-col>
            </ion-row>


          </ion-card>

        </ion-col>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">

          <ion-card>
            <ion-card-header class="row-space-between">
              <ion-card-title>Total Leaves</ion-card-title>
              <ion-card-subtitle>
                <button (click)="openModal()">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </button>

              </ion-card-subtitle>

            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>

                  <div *ngIf="leaveData">
                    <button (click)="deleteLeaves()">Delete Data</button>
                    <h3>Saved Leave Data:</h3>
                    <p>Sick Leaves: {{ leaveData.sickLeaves }}</p>
                    <p>Paid Leaves: {{ leaveData.paidLeaves }}</p>
                    <p>Marriage Leaves: {{ leaveData.marriageLeaves }}</p>
                  </div>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <div *ngIf="showModal">
    <app-leave-modal (saveLeaves)="handleSave($event)" (closeModal)="handleClose()"></app-leave-modal>
  </div>
  <div>
    <app-shifts></app-shifts>
  </div>
  <div>
    <app-weekoffs></app-weekoffs>
  </div>
</ion-content>