@import '../../../global.scss';
.upload-container {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.admin-dashboard {
    --background: var(--ion-bg-color);
    padding: 20px;
   
    ion-card-title {
      @include card-sub-title();
    }
   .table-block {
     .table-header {
       height: 44px;
       border-bottom: 1px solid $border-color;
       p {
         @include normal-text();
         color: $text-color;
       }
     }
    }







      // Leaves block
     .leave-list-block {
        border: 1px solid #DFDFDF;
          ion-item {
            height: 50px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #DFDFDF; 
            width: 100%;
            p {
              width: 100%;
              font-weight: 600;
              img {
                padding-right: 5px; 
                width: 35px;
              }
              span {
                padding: 4px 8px;
                border-radius: 24px;
                font-size: 13px;
              }
              &:last-child {
                text-align: end;
              }
            }
            &.cl-text {
              span {
                background: #E7D8FF;
              }
              color: #6941C6;
            }
            &.ml-text {
              span {
                background: #FFE9D2;
              }
              color: #A95300;
            }
            &.sl-text {
              span {
                background: #D7F3E5;
              }
              color: #077B4B;
            }
            &.co-text {
              span {
                background: #B4E1FF;
              }
              color: #014570;
            }
            &.ul-text {
              span {
                background: #FFC7C7;
              }
              color: #C80000;
            }
        }
      }
.holiday-list {
  ion-icon {
    font-size: 18px;
  }
  ion-datetime {
    border: 1px solid #DFDFDF;
    border-radius: 12px;
  }
  .card-sub-title {
    @include text-style-bold();
    margin-bottom: 12px;
  }
  .holiday-content {
    border: 1px solid #DFDFDF;
    border-radius: 12px;
    padding: 16px;
    ion-thumbnail {
      background: $secondry-color;
      border-radius: 20px;
      padding: 12px;
      text-align: center;
      color: #fff;
      ion-label {
        font-size: 13px;
        font-weight: 600;
      }  
    }  
    ion-list {
      width: 100%;
      ion-item {
        --background: #EDEDED;
        border-radius: 8px !important;
        width: 100%;
        margin-bottom: 12px;
        .content {
          width: 100%;
        }
      }
    }
  }
  
}
  
}
.tooltip-container {
    position: relative;
    display: inline-block;
    .tooltip-text {
        visibility: hidden;
        background-color: #122E44;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 25px;
        right: 0px;
        opacity: 0;
        transition: opacity 0.3s;
        width: 150px;
      }
      
      &:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
      }

  }
  ion-card {
      ion-icon {
        width: 24px;
        margin-right: 5px;
        font-size: 24px;
        cursor: pointer;
        font-weight: 700;
      }
  }
  .upload-file {
    input[type=file] {
      margin: 16px;
      width: 100%;
      margin-left: 0;
    }
  }
  

  .loader-overlay {
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;

  ion-button {
    --padding-start: 10px;
    --padding-end: 10px;
  }

  span {
    @include body-text();
  }
}
.upload-block {
  p {
    @include body-text();
  }
  .folder-icon {
    font-size: 35px;
    color: var(--ion-color-medium);
    margin-bottom: 15px;
  }
  
  .drag-drop-area {
    border: 2px dashed var(--ion-color-medium);
    padding: 20px 12px;
    text-align: center;
    margin-bottom: 15px;
    &:hover {
      border-color: #007bff;
    }
  }
  
  .upload-icon {
    font-size: 32px;
    color: var(--ion-color-primary);
  }
  
  .select-file-link {
    color: var(--ion-color-primary);
    text-decoration: underline;
    cursor: pointer;
  }
}


/* Hide the actual file input */
#file-upload-input {
  display: none;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 20px;
}
.upload-main-block {
  --width: 400px;
    --height: 400px;
}
ion-datetime[part= calendar-day] {
  font-weight: 600;
  color: #333;
}
ion-card {
  margin: 0;
}

.page-bg {
  --background: #f4f6fb;
}

.date-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  margin: 10px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.dates {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: center;
}

.date-box {
  background: #f1f3f6;
  border-radius: 12px;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  min-width: 52px;
  transition: 0.3s ease;
}

.date-box h5 {
  margin: 0;
  font-size: 18px;
}

.date-box p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

.date-box.active {
  background: var(--ion-color-primary);
  color: white;
  transform: scale(1.05);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.task h4 {
  margin: 0;
  font-size: 15px;
}

.empty {
  text-align: center;
  margin-top: 40px;
  color: gray;
  font-size: 14px;
}

// holiday image popup
.img-button {
  --background: transparent;
  --box-shadow: none;
  --color: var(--ion-primary-color);
}
ion-popover{ 
  &.image-popup::part(content) {
    --width: 430px;
    top: auto !important;
    left: auto !important;
    bottom: 15% !important;
    right: 35% !important;
  }
} 
.image-popup {
  .popup-title {
    @include card-sub-title();  
  }
  .img-border {
    border: 2px dashed #ABABAB;
    padding: 25px;
    margin: 24px;
    text-align: center;
    img {
      height: 200px;
      width: 200px;      
      border-radius: 50%;
    }
  }
  .file-attach {
    position: relative;
    width: 150px;
    display: block;
    text-align: center;
    margin: auto;
    input {
      visibility: hidden;
      width: 100px;
    }
    p {
      position: absolute;
      top: -16px;
      left: 7px;
      font-size: 16px;
      background: #707070;
      color: #fff;
      padding: 8px 16px;
      border-radius: 12px;
      cursor: pointer;
    }
  }
  .primary-btn {
    margin-top: 30px;
    float: none;
    width: fit-content;
    justify-self: anchor-center;
  }
}
