<ion-content class="org-container ion-padding">

    <!-- Header -->
    <div class="org-header">
        <h2>Organization Tree</h2>
        <p>Visualize your reporting structure and team at a glance</p>
    </div>

    <ion-card *ngIf="loading">
        <ion-card-content class="org-tree-loading">
            <ion-spinner name="dots"></ion-spinner>
            <span>Loading organization tree...</span>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="error">
        <ion-card-content class="org-tree-error">
            <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
            <span>{{ error }}</span>
        </ion-card-content>
    </ion-card>


    <ng-container *ngIf="orgTree && orgTree.length">
        <div class="org-tree-root">
            <ng-container *ngFor="let root of orgTree">
                <!-- Top Manager node -->
                <div class="org-vertical-stack">
                    <div *ngIf="root.topManager">
                        <div style="margin: 0 0 8px 0; font-weight: 500; color: #0077b6;">Top Manager</div>
                        <ng-container
                            *ngTemplateOutlet="recursiveTree; context: { $implicit: root.topManager, level: 0 }"></ng-container>
                        <div class="org-vertical-connector"></div>
                    </div>
                    <div *ngIf="root.manager">
                        <div style="margin: 16px 0 8px 0; font-weight: 500; color: #0077b6;">Manager</div>
                        <ng-container
                            *ngTemplateOutlet="recursiveTree; context: { $implicit: root.manager, level: 0 }"></ng-container>
                        <div class="org-vertical-connector"></div>
                    </div>
                    <div style="margin: 24px 0 0 0; font-weight: 500; color: #023e8a;">You</div>
                    <ng-container
                        *ngTemplateOutlet="recursiveTree; context: { $implicit: root, level: 0 }"></ng-container>
                </div>
                <!-- Co-team (peers) -->
                <div *ngIf="root.coTeam && root.coTeam.length" class="org-co-team">
                    <div style="margin: 16px 0 8px 0; font-weight: 500; color: #0077b6;">Your Peers</div>
                    <ng-container *ngFor="let peer of root.coTeam">
                        <ng-container
                            *ngTemplateOutlet="recursiveTree; context: { $implicit: peer, level: 0 }"></ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <ng-template #recursiveTree let-employee let-level="level">
        <div class="org-tree-node-flex">
            <div class="org-tree-node-card">
                <ion-card class="org-card org-card-member">
                    <div class="org-member-header" style="display: flex; align-items: center; gap: 0.5em;" >
                        <div
                        class="avatar"
                        [style.background]="getAvatarColor(employee)">
                        {{ employee.FirstName?.[0] || employee.name?.[0] }}
                      </div>                      

                        <span>{{ employee.name || employee.FirstName + ' ' + employee.LastName }}</span>
                        <span class="org-member-role">{{ employee.role || employee.designation_name }}</span>                      
                       
                          <button *ngIf="employee.directReports && employee.directReports.length > 0" type="button"
                            class="expand-btn" (click)="$event.stopPropagation(); exclusiveExpand(employee.id)"
                            [attr.aria-expanded]="expanded[employee.id]">
                            <ion-icon [name]="expanded[employee.id] ? 'chevron-down' : 'chevron-forward'"></ion-icon>
                        </button>
                    </div>
                </ion-card>
                <!-- vertical line down from this node if has children -->
                <div *ngIf="employee.directReports && employee.directReports.length > 0 && expanded[employee.id]"
                    class="org-vertical-line"></div>
            </div>
            <!-- horizontal line and children -->
            <div *ngIf="employee.directReports && employee.directReports.length > 0"
                [@expandCollapse]="expanded[employee.id] ? 'expanded' : 'collapsed'" class="org-children-flex">
                <div class="org-horizontal-line"></div>
                <ng-container *ngIf="expanded[employee.id]">
                    <ng-container *ngFor="let sub of employee.directReports">
                        <ng-container
                            *ngTemplateOutlet="recursiveTree; context: { $implicit: sub, level: level + 1 }"></ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>


    </ng-template>

</ion-content>