<ion-content class="org-container ion-padding">

    <!-- Header -->
    <div class="org-header">
      <h2>Organization Tree</h2>
      <p>Visualize your reporting structure and team at a glance</p>
    </div>
  
    <!-- Horizontal Tree -->
    <div class="horizontal-tree" *ngIf="orgTree">
      <ng-container
      *ngTemplateOutlet="treeTpl; context: { $implicit: orgTree, parent: null }">
      </ng-container>
    </div>
  
    <!-- Recursive Template -->
    <ng-template #treeTpl let-emp let-parent="parent">
  
      <div class="tree-row">
  
        <!-- Parent Card -->
        <ion-card class="profile-card" (click)="toggle(emp, parent)">
          <div class="profile-left">
            <div
            class="avatar"
            [style.background]="getAvatarColor(emp)">
            {{ emp.FirstName?.[0] || emp.name?.[0] }}
          </div>
  
            <div class="info">
              <h4>{{ emp.name || emp.FirstName + ' ' + emp.LastName }}</h4>
              <p>{{ emp.role || emp.designation_name }}</p>
            </div>
          </div>
  
          <ion-icon
            name="chevron-forward"
            class="arrow"
            *ngIf="emp.directReports?.length"
            [class.open]="expanded[emp.id]">
          </ion-icon>
        </ion-card>
  
        <!-- Children Column -->
        <div
          class="children-column"
          *ngIf="emp.directReports?.length"
          [class.open]="expanded[emp.id]">
  
          <ng-container *ngFor="let child of emp.directReports">
            <ng-container
              *ngTemplateOutlet="treeTpl;
              context: { $implicit: child, parent: emp }">
            </ng-container>
          </ng-container>
  
        </div>
  
      </div>
  
    </ng-template>
  
  </ion-content>
  