@import './aboutus/aboutus.component.scss';
.profile-block {
  --background: var( --ion-bg-color);  
  .welcome-block {
    ion-card {
      padding: 24px;
      img {
        height: 150px;
        width: 100%;
        margin: auto;
        border-radius: 50%;
      }
      p.name{
        @include card-header();
        font-weight: 700; 
        padding-left: 8px;
        margin-bottom: 0;
        span {
          @include text-bold();
          background: #6e9bfa;
          padding: 5px 10px;
          border-radius: 20px;
        }
      }
      .info-block {
        ion-icon {
          fill: var(--ion-color-primary);
         }
         p {
          @include normal-text();
          color: var(--ion-color-primary);
          padding: 5px 10px;
          border-radius: 20px;
          margin: 0;
         }
      }
      .report-block {
        margin: 0;
        p {
          @include text-bold();
          color: $Subtle-Text;
          margin: 0;
          margin-top: 12px;
        }
        h6 {
          @include normal-text();
          color: $text-color;
          margin: 0;
          margin-top: 2px;
          img {
            width: 50px;
            height: 50px;
            margin: 0;
            padding-right: 8px;
          }
        }
      }
    }
 
    p.des {
      // color: #DADEE4;
      @include body-text();
      padding-left: 8px;
    }
    }


.custom-underline-tabs {
  position: relative;
  height: calc(100vh - 140px);
  ion-tab-bar {
    justify-content: flex-start;
    p {
      margin: 0;
      @include normal-text-unbold();
    }
    ion-tab-button {
      ion-icon {
         padding-right: 8px;
      }
      &.tab-selected {
        border-bottom: 2px solid;
        p{
          @include normal-text();
          color: $primary-color;
        }      
      }
    }
  }
  ion-tab {
    display: block;
    height: calc(100vh - 200px);
    overflow: auto;
    @include scroll-style();
}
}
}
.profile-block::part(scroll) {
  overflow: hidden;
}
.img-block {
  position: relative;
  width: 150px;
  margin: auto;
  .img-button {
     position: absolute;
     bottom: 10px;
     left: -16px;
     border-radius: 50% !important;
     --border-radius: 50% !important;
     height: 45px;
     --background: var(--ion-subtle-text);
     font-size: 21px;
    width: 45px;
     p.text {
      display: none;
    } 
    //  &:hover {
    //   bottom: 0px;
    //   left: -1px;
    //   width: 149px;
    //   --background: #122e4473;
    //   height: 149px;
    //   transition: 1s;
    //   ion-icon {
    //     font-size: 30px;
    //   }
    //   p.text {
    //     display: block;
    //     color: #fff;
    //   }
    //  }
  }
}
ion-popover{ 
  &.image-popup::part(content) {
    --width: 430px;
    top: auto !important;
    left: auto !important;
    bottom: 15% !important;
    right: 35% !important;
  }
} 
.image-popup {
  .popup-title {
    @include card-sub-title();  
  }
  .img-border {
    border: 2px dashed #ABABAB;
    padding: 25px;
    margin: 24px;
    text-align: center;
    img {
      height: 200px;
      width: 200px;      
      border-radius: 50%;
    }
  }
  .file-attach {
    position: relative;
    width: 150px;
    display: block;
    text-align: center;
    margin: auto;
    input {
      visibility: hidden;
      width: 100px;
    }
    p {
      position: absolute;
      top: -16px;
      left: 13px;
      font-size: 16px;
      background: #707070;
      color: #fff;
      padding: 8px 16px;
      border-radius: 12px;
      cursor: pointer;
    }
  }
  .primary-btn {
    margin-top: 30px;
    float: none;
    width: fit-content;
    justify-self: anchor-center;
  }
}