@import './aboutus/aboutus.component.scss';
.profile-block {
  --background: var( --ion-bg-color);  
  .welcome-block {
    ion-card {
      padding: 24px;
      img {
        height: 100px;
        width: 100%;
        margin: auto;
      }
      p.name{
        @include card-header();
        font-weight: 700; 
        padding-left: 8px;
        margin-bottom: 0;
        span {
          @include text-bold();
          background: #6e9bfa;
          padding: 5px 10px;
          border-radius: 20px;
        }
      }
      .info-block {
        ion-icon {
          fill: var(--ion-color-primary);
         }
         p {
          @include normal-text();
          color: var(--ion-color-primary);
          padding: 5px 10px;
          border-radius: 20px;
          margin: 0;
         }
      }
      .report-block {
        margin: 0;
        p {
          @include text-bold();
          color: $Subtle-Text;
          margin: 0;
          margin-top: 12px;
        }
        h6 {
          @include normal-text();
          color: $text-color;
          margin: 0;
          margin-top: 2px;
          img {
            width: 50px;
            height: 50px;
            margin: 0;
            padding-right: 8px;
          }
        }
      }
    }
 
    p.des {
      // color: #DADEE4;
      @include body-text();
      padding-left: 8px;
    }
    }


.custom-underline-tabs {
  position: relative;
  height: calc(100vh - 140px);
  ion-tab-bar {
    justify-content: flex-start;
    p {
      margin: 0;
      @include normal-text-unbold();
    }
    ion-tab-button {
      ion-icon {
         padding-right: 8px;
      }
      &.tab-selected {
        border-bottom: 2px solid;
        p{
          @include normal-text();
          color: $primary-color;
        }      
      }
    }
  }
  ion-tab {
    display: block;
    height: calc(100vh - 200px);
    overflow: auto;
    @include scroll-style();
}
}
}
.profile-block::part(scroll) {
  overflow: hidden;
}
