<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add New Employeee</ion-title>
    <ion-sub-title>Add New Employeee</ion-sub-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-header>
    <ion-toolbar>
      <ion-title>Add New Employee</ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content class="ion-padding custom-popup">
  <div class="row-space-between">
    <div class="modal-header">
      <h1>Add New Employee</h1>
      <p>Fill in the employee details to add them to the system</p>
    </div>
    <ion-button fill="clear" (click)="close()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </div>


  <div class="section-header ion-padding-start ion-padding-vertical">
    <ion-icon name="person"></ion-icon>
    Personal Information
  </div>

  <form [formGroup]="candidateForm" (ngSubmit)="submitForm()">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
          <ion-item>
              <ion-label position="floating">First Name</ion-label>
              <ion-input formControlName="FirstName"></ion-input>
            </ion-item>
      </ion-col>
      <ion-col size="4">
          <ion-item>
              <ion-label position="floating">Last Name</ion-label>
              <ion-input formControlName="LastName"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="4">
            <ion-item>
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input type="tel" formControlName="PhoneNumber"></ion-input>
              </ion-item>
          </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
          <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="Email"></ion-input>
            </ion-item>
      </ion-col>
      <ion-col size="6">
          <ion-item>
              <ion-label position="stacked">Gender</ion-label>
                <ion-select formControlName="Gender"  class="custom-dropdown" toggleIcon="chevron-down"
                 expandedIcon="chevron-up" interface="popover" placeholder="Select Gender">
                  <ion-select-option value="Male">Male</ion-select-option>
                  <ion-select-option value="Female">Female</ion-select-option>
                  <ion-select-option value="Other">Other</ion-select-option>
                </ion-select>              
            </ion-item>
        </ion-col>
    </ion-row>
  </ion-grid>
   

    <!--
    <div class="section-header ion-padding-start ion-padding-vertical">
      <ion-icon name="person"></ion-icon>
      Personal Information
    </div>
    -->
    
    <ion-grid>
      <ion-row>
        <ion-col size="4">
            <ion-item>
                <ion-label position="stacked">Job Title</ion-label>
                <ion-select class="custom-dropdown" toggleIcon="chevron-down" expandedIcon="chevron-up"
                formControlName="JobTitle" interface="popover"  placeholder="Select Job Title">
                   <ion-select-option value="UI/UX Designer">UI/UX Designer</ion-select-option>
                   <ion-select-option value="UI Developer">UI Developer</ion-select-option>
                   <ion-select-option value="Software Engineer">Software Engineer</ion-select-option>
               </ion-select> 
              </ion-item>
        </ion-col>
        <ion-col size="4">
            <ion-item>
                <ion-label position="stacked">Department</ion-label>
                  <ion-select class="custom-dropdown" toggleIcon="chevron-down" expandedIcon="chevron-up"
                  formControlName="Department"  interface="popover"  placeholder="Select Department">
                    <ion-select-option value="Finance">Finance</ion-select-option>
                    <ion-select-option value="Human Resources">Human Resources</ion-select-option>
                    <ion-select-option value="IT Development">IT Development</ion-select-option>
                    <ion-select-option value="Marketing">Marketing</ion-select-option>
                  </ion-select>
              </ion-item>
          </ion-col>
          <ion-col size="4">
    <ion-item>
        <ion-label position="stacked">Job Location</ion-label>
            <ion-select class="custom-dropdown" toggleIcon="chevron-down" expandedIcon="chevron-up"
            formControlName="JobLocation" interface="popover"  placeholder="Select Job Location">
              <ion-select-option value="Site 2 - Visakhapatnam - Day Shift">Site 2 - Visakhapatnam - Day
                Shift</ion-select-option>
              <ion-select-option value="Site 1 - Hyderabad - Night Shift">Site 1 - Hyderabad - Night
                Shift</ion-select-option>
              <ion-select-option value="Site 3 - Visakhapatnam - Day Shift">Site 3 - Visakhapatnam - Day
                Shift</ion-select-option>
            </ion-select>
      </ion-item>
            </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6">
              <ion-item>
                  <ion-label position="stacked">Worker Type</ion-label>
                  <ion-select class="custom-dropdown" toggleIcon="chevron-down" expandedIcon="chevron-up"
                  formControlName="WorkType" interface="popover"  placeholder="Select Work Type">
                    <ion-select-option value="Perminent">Permanent</ion-select-option>
                    <ion-select-option value="Contract">Contract</ion-select-option>
                  </ion-select>
                </ion-item>
          </ion-col>
          <ion-col size="6">
              <ion-item>
                  <ion-label position="floating">Business Unit</ion-label>
                  <ion-select formControlName="BusinessUnit"  placeholder="Select Business Unit">
                    <ion-select-option value="STSS-1">STSS-1</ion-select-option>
                    <ion-select-option value="STSS-2">STSS-1</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>



    <ion-button expand="block" class="primary-btn" type="submit" [disabled]="candidateForm.invalid">
      Submit
    </ion-button>
  </form>

</ion-content>