<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add New Employeee</ion-title>
    <ion-sub-title>Add New Employeee</ion-sub-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-header>
    <ion-toolbar>
      <ion-title>Add New Employee</ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content class="ion-padding custom-popup">
  <div class="row-space-between">
    <div class="modal-header">
      <h1>Add New Employee</h1>
      <p>Fill in the employee details to add them to the system</p>
    </div>
    <ion-button fill="clear" (click)="close()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </div>


  <div class="section-header ion-padding-start ion-padding-vertical">
    <ion-icon name="person"></ion-icon>
    Personal Information
  </div>

  <form [formGroup]="candidateForm" (ngSubmit)="submitForm()">

    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input formControlName="FirstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="LastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="tel" formControlName="PhoneNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Gender</ion-label>
      <div>
        <ion-select formControlName="Gender">
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </div>
    </ion-item>
    <div class="section-header ion-padding-start ion-padding-vertical">
      <ion-icon name="person"></ion-icon>
      Personal Information
    </div>
    <ion-item>
      <ion-label position="floating">Job Title</ion-label>
      <ion-select formControlName="JobTitle">
        <ion-select-option value="Software Engineer">Software Engineer</ion-select-option>
        <ion-select-option value="Accounts">Accounts</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Department</ion-label>
      <ion-select formControlName="Department">
        <ion-select-option value="Sales">Sales</ion-select-option>
        <ion-select-option value="HR">HR</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Job Location</ion-label>
      <ion-select formControlName="JobLocation">
        <ion-select-option value="Sales">Vizag</ion-select-option>
        <ion-select-option value="HR">Hyderabad</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Work Type</ion-label>
      <ion-select formControlName="WorkType">
        <ion-select-option value="Perminent">Perminent</ion-select-option>
        <ion-select-option value="Part Time">Part Time</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Business Unit</ion-label>
      <ion-select formControlName="BusinessUnit">
        <ion-select-option value="STSS-1">STSS-1</ion-select-option>
        <ion-select-option value="STSS-2">STSS-1</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="candidateForm.invalid">
      Submit
    </ion-button>
  </form>

</ion-content>