
<ion-content class="ion-padding">

  <!-- Avatar with status dot -->
  <div class="profile-container">
    <ion-row class="row-space-between">
      <ion-col size="10" class="row-left">
          <ion-avatar class="profile-avatar mr-15">
              <!-- <img [src]="employee.personalDetails?.profileImage || 'assets/default-avatar.png'" />
             <span class="status-dot" [ngClass]="employee.isAvailable ? 'available' : 'unavailable'"></span> -->
             <!-- <ion-icon name="person-circle-outline" class="user-icon"></ion-icon> -->
             <ion-avatar 
      class="initials-avatar" 
      [style.--background]="getAvatarColor(selectedObeject.full_name || '')"
    >
      <span>{{ getInitials(selectedObeject.full_name || '') }}</span>
    </ion-avatar>
            </ion-avatar>     
            <!-- Name + Job Title -->
            <div class="profile-info">
                <h2 class="name">{{ selectedObeject.full_name }}</h2>
                <p class="job-title">{{ selectedObeject.job_title}}</p>
                <div class="row-left">
                    <div class="row-left">
                        <ion-icon name="location"></ion-icon>
                        <p class="title">{{ selectedObeject.location}}</p>
                    </div>
                    <div class="row-left">
                        <ion-icon name="mail"></ion-icon>
                        <p class="title">{{ selectedObeject.work_email}}</p>
                    </div>
                </div>
                
              </div>
      </ion-col>
      <ion-col size="2">
          <ion-icon class="close-outline" name="close-outline" (click)="close()"></ion-icon>
          <!-- <ion-button (click)="close()">Close</ion-button> -->
      </ion-col>
    </ion-row>
  
  </div>



  <!-- Contact & Job Details -->
 <div class="org-details">
     <h2>Organizational Details </h2>
     <ion-row>
       <ion-col>
          <label>Business Unit</label>
          <p>{{ selectedObeject.business_unit }}</p>
       </ion-col>
       <ion-col>
          <label>Department</label>
          <p>{{ selectedObeject.department }}</p>
        </ion-col>
     </ion-row>
     <div>
       <label>Reporting Manager</label>
       <div>
         <p>{{ selectedObeject.reporting_to }}</p> 
       </div>
     </div>
 </div>

</ion-content>